Production:
svelte-adapter-bun | bun add -D svelte-adapter-bun

Development:
@unsass/breakpoint
lucide-svelte
modern-normalize
nprogress
sass

Icons:
gallery-horizontal-end
facebook
instagram
x
box
boxes
codesandbox
user-square
wallet-cards
library
dices
badge-info
log-out
arrow-right-left
globe
stretch-vertical
crown
alert-triangle
minus
external-link
key-round
clipboard-signature
align-justify
link
chevron-down
search
star